In [0]:
# Mounting Azure Data Lake Storage Gen2 to a Databricks file system
configs = {
    "fs.azure.account.auth.type": "OAuth",
    "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
    "fs.azure.account.oauth2.client.id": "6719249f-6433-4562-a2e4-06b8b0e3196e",
    "fs.azure.account.oauth2.client.secret": 'KjV8Q~ppc5uxrmnqc_p6wTyleIdawZ6GeaIGsbRB',
    "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/ad0389e8-4519-495a-a28d-f83dfeaa4f1a/oauth2/token"
}

dbutils.fs.mount(
    source="abfss://tokyo-olympic-data@datastoragetokyoolympic.dfs.core.windows.net",
    mount_point="/mnt/tokyoolymic",
    extra_configs=configs
)

True

In [0]:
# Listing the contents of the mounted directory in Azure Data Lake Storage Gen2
%fs ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1705754015000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1705754027000

In [0]:
# Listing the contents of the raw data directory in Azure Data Lake Storage Gen2
%fs ls "/mnt/tokyoolymic/raw-data/"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/Teams.csv,Teams.csv,34526,1705757804000
dbfs:/mnt/tokyoolymic/raw-data/athletes.csv,athletes.csv,407406,1705757751000
dbfs:/mnt/tokyoolymic/raw-data/coaches.csv,coaches.csv,16494,1705757763000
dbfs:/mnt/tokyoolymic/raw-data/entriesgender.csv,entriesgender.csv,1076,1705757777000
dbfs:/mnt/tokyoolymic/raw-data/medals.csv,medals.csv,2320,1705757790000

In [0]:
# Importing necessary PySpark SQL functions for data transformation
from pyspark.sql.functions import col, trim, initcap, split, size, round

In [0]:
# Reading the athletes data from CSV file located in Azure Gen2 storage (mounted to Databricks)
athletesDF = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/athletes.csv")

# Reading the coaches data from CSV file located in Azure Gen2 storage (mounted to Databricks)
coachesDF = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/coaches.csv")

# Reading the entries gender data from CSV file located in Azure Gen2 storage (mounted to Databricks)
entriesgenderDF = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/entriesgender.csv")

# Reading the medals data from CSV file located in Azure Gen2 storage (mounted to Databricks)
medalsDF = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/medals.csv")

# Reading the teams data from CSV file located in Azure Gen2 storage (mounted to Databricks)
teamsDF = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/Teams.csv")

In [0]:
# Displaying the contents of the athletes DataFrame
athletesDF.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
# Printing the schema of the athletes DataFrame
athletesDF.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
# Generating summary statistics for the athletes DataFrame and displaying the results
athletesDF.describe().show()

+-------+-----------------+-----------+--------------+
|summary|       PersonName|    Country|    Discipline|
+-------+-----------------+-----------+--------------+
|  count|            11085|      11085|         11085|
|   mean|             NULL|       NULL|          NULL|
| stddev|             NULL|       NULL|          NULL|
|    min|  AALERUD Katrine|Afghanistan|3x3 Basketball|
|    max|von MARTELS Chris|   Zimbabwe|     Wrestling|
+-------+-----------------+-----------+--------------+

In [0]:
# Filtering rows where PersonName is either null or an empty string
null_person_name = athletesDF.filter(col("PersonName").isNull() | (col("PersonName") == ""))
null_person_name.show()

# Filtering rows where Country is either null or an empty string
null_country = athletesDF.filter(col("Country").isNull() | (col("Country") == ""))
null_country.show()

# Filtering rows where Discipline is either null or an empty string
null_discipline = athletesDF.filter(col("Discipline").isNull() | (col("Discipline") == ""))
null_discipline.show()

+----------+-------+----------+
|PersonName|Country|Discipline|
+----------+-------+----------+
+----------+-------+----------+

+----------+-------+----------+
|PersonName|Country|Discipline|
+----------+-------+----------+
+----------+-------+----------+

+----------+-------+----------+
|PersonName|Country|Discipline|
+----------+-------+----------+
+----------+-------+----------+

In [0]:
# Cleaning whitespace from the specified columns in the athletes DataFrame
athletesDF = athletesDF.withColumn("PersonName", trim(col("PersonName"))) \
                     .withColumn("Country", trim(col("Country"))) \
                     .withColumn("Discipline", trim(col("Discipline")))

# Displaying the cleaned DataFrame
athletesDF.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
# Identifying and counting duplicate records based on PersonName, Country, and Discipline
duplicates = athletesDF.groupBy("PersonName", "Country", "Discipline").count().filter(col("count") > 1)

# Checking if any duplicates were found
if duplicates.count() > 0:
    # Displaying information about the duplicate records
    print("Duplicate records found:")
    duplicates.show()
else:
    # Indicating that no duplicates were found
    print("No duplicate found!")

Duplicate records found:
+-----------+-------+----------+-----+
| PersonName|Country|Discipline|count|
+-----------+-------+----------+-----+
|ALI Mohamed|Bahrain|  Handball|    2|
+-----------+-------+----------+-----+

In [0]:
# Joining the original DataFrame with the identified duplicate records based on PersonName, Country, and Discipline
duplicates = athletesDF.join(duplicates.select("PersonName", "Country", "Discipline"), ["PersonName", "Country", "Discipline"])

# Displaying the entire rows of the duplicated records
duplicates.show()

+-----------+-------+----------+
| PersonName|Country|Discipline|
+-----------+-------+----------+
|ALI Mohamed|Bahrain|  Handball|
|ALI Mohamed|Bahrain|  Handball|
+-----------+-------+----------+

In [0]:
# Removing duplicate records based on PersonName, Country, and Discipline
athletesDF = athletesDF.dropDuplicates(["PersonName", "Country", "Discipline"])

In [0]:
# Quality Check: Duplicate Check after Removal
duplicates = athletesDF.groupBy("PersonName", "Country", "Discipline").count().filter(col("count") > 1)

# Checking if any duplicates were found after the removal
if duplicates.count() > 0:
    # Displaying information about the duplicate records after removal
    print("Duplicate records found after removal:")
    duplicates.show()
else:
    # Indicating that no duplicates were found after removal
    print("No duplicate records found after removal.")

No duplicate records found after removal.

In [0]:
# Capitalizing the first letter of each word in the PersonName column
athletesDF = athletesDF.withColumn("PersonName", initcap("PersonName"))

In [0]:
# Splitting the PersonName column into First Name and Last Name
split_name = split(athletesDF["PersonName"], " ")

# Use the first part as the first name
athletesDF = athletesDF.withColumn("FirstName", split_name.getItem(0))

# Use the last part as the last name
# If there is no last name, use an empty string
athletesDF = athletesDF.withColumn("LastName", split_name.getItem(size(split_name) - 1))

# Showing the updated DataFrame
athletesDF.show()

+--------------------+--------------------+-----------------+------------+------------+
|          PersonName|             Country|       Discipline|   FirstName|    LastName|
+--------------------+--------------------+-----------------+------------+------------+
|     Allikvee Martin|             Estonia|         Swimming|    Allikvee|      Martin|
|       Barakat Hanna|           Palestine|        Athletics|     Barakat|       Hanna|
|     Ben Ismail Afef|             Tunisia|     Canoe Sprint|         Ben|        Afef|
|Bishindee Urantun...|            Mongolia|          Archery|   Bishindee|Urantungalag|
|       Branser Marie|Democratic Republ...|             Judo|     Branser|       Marie|
|         Colman Samy|             Morocco|       Equestrian|      Colman|        Samy|
|        Cordon Kevin|           Guatemala|        Badminton|      Cordon|       Kevin|
| Dornbach Maximilian|             Germany|    Cycling Track|    Dornbach|  Maximilian|
|        Efoloko Jona|       Great Britain|        Athletics|     Efoloko|        Jona|
|    Elzoheiry Mariam|               Egypt|          Fencing|   Elzoheiry|      Mariam|
|    Gasparotto Marta|               Italy|Baseball/Softball|  Gasparotto|       Marta|
|           Gil Bryan|               Spain|         Football|         Gil|       Bryan|
|Tunjung Gregoria ...|           Indonesia|        Badminton|     Tunjung|     Mariska|
|Higuita Garcia Se...|            Colombia|     Cycling Road|     Higuita|      Andres|
|           Irr Brian|United States of ...|           Karate|         Irr|       Brian|
|      Kennedy Alanna|           Australia|         Football|     Kennedy|      Alanna|
|        Kim Seoyeong|   Republic of Korea|         Swimming|         Kim|    Seoyeong|
|  Korzeniowski Pawel|              Poland|         Swimming|Korzeniowski|       Pawel|
|      Kulagina Daria|             Belarus|Artistic Swimming|    Kulagina|       Daria|
|Kunkabayev Kamshybek|          Kazakhstan|           Boxing|  Kunkabayev|   Kamshybek|
+--------------------+--------------------+-----------------+------------+------------+
only showing top 20 rows

In [0]:
# Displaying the contents of the coaches DataFrame
coachesDF.show()

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [0]:
# Printing the schema of the coaches DataFrame
coachesDF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
# Generating summary statistics for the coaches DataFrame and displaying the results
coachesDF.describe().show()

+-------+---------------+-------+-----------------+--------+
|summary|           Name|Country|       Discipline|   Event|
+-------+---------------+-------+-----------------+--------+
|  count|            394|    394|              394|     249|
|   mean|           NULL|   NULL|             NULL|    NULL|
| stddev|           NULL|   NULL|             NULL|    NULL|
|    min|ABDELMAGID Wael| Angola|Artistic Swimming|Baseball|
|    max| van GUNDY Jeff| Zambia|       Water Polo|   Women|
+-------+---------------+-------+-----------------+--------+

In [0]:
# Filtering and showing rows where 'Name' is null or an empty string
null_name = coachesDF.filter(col("Name").isNull() | (col("Name") == ""))
null_name.show()

# Filtering and showing rows where 'Country' is null or an empty string
null_country = coachesDF.filter(col("Country").isNull() | (col("Country") == ""))
null_country.show()

# Filtering and showing rows where 'Discipline' is null or an empty string
null_discipline = coachesDF.filter(col("Discipline").isNull() | (col("Discipline") == ""))
null_discipline.show()

# Filtering and showing rows where 'Event' is null or an empty string
null_event = coachesDF.filter(col("Event").isNull() | (col("Event") == ""))
null_event.show()

+----+-------+----------+-----+
|Name|Country|Discipline|Event|
+----+-------+----------+-----+
+----+-------+----------+-----+

+----+-------+----------+-----+
|Name|Country|Discipline|Event|
+----+-------+----------+-----+
+----+-------+----------+-----+

+----+-------+----------+-----+
|Name|Country|Discipline|Event|
+----+-------+----------+-----+
+----+-------+----------+-----+

+--------------------+--------------------+-----------------+-----+
|                Name|             Country|       Discipline|Event|
+--------------------+--------------------+-----------------+-----+
|     ABDELMAGID Wael|               Egypt|         Football| NULL|
|           ABE Junya|               Japan|       Volleyball| NULL|
|       ABE Katsuhiko|               Japan|       Basketball| NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football| NULL|
|          AGEBA Yuya|               Japan|       Volleyball| NULL|
|ALLER CARBALLO Ma...|               Spain|       Basketball| NULL|
|           ALY Kamal|               Egypt|         Football| NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball| NULL|
|    AMO AGUADO Pablo|               Spain|         Football| NULL|
|       BACIU Horatiu|             Romania|         Football| NULL|
|    BANBULA Wojciech|              Poland|       Volleyball| NULL|
|          BAO Zhuang|People's Republic...|       Volleyball| NULL|
|        BARYLA Pawel|                 ROC|       Volleyball| NULL|
|        BENCIC Filip|              Serbia|       Basketball| NULL|
|        BOLTON Alice|             Nigeria|       Basketball| NULL|
|       BREIVIK Marit|              Norway|         Handball| NULL|
|       BRUN Aristide|             Austria|Artistic Swimming| NULL|
|   BURLANDO Giovanna|               Italy|Artistic Swimming| NULL|
|      BUSENKELL Axel|             Germany|         Football| NULL|
|         CASTRO Alex|               Chile|         Football| NULL|
+--------------------+--------------------+-----------------+-----+
only showing top 20 rows

In [0]:
# Filling missing/null values in the 'Event' column with the string 'Unknown'
coachesDF = coachesDF.na.fill({"Event": "Unknown"})

In [0]:
# Cleaning whitespace from specified columns in the coaches DataFrame
coachesDF = coachesDF.withColumn("Name", trim(col("Name"))) \
                     .withColumn("Country", trim(col("Country"))) \
                     .withColumn("Discipline", trim(col("Discipline"))) \
                     .withColumn("Event", trim(col("Event")))

# Displaying the cleaned DataFrame
coachesDF.show()

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football| Unknown|
|           ABE Junya|               Japan|       Volleyball| Unknown|
|       ABE Katsuhiko|               Japan|       Basketball| Unknown|
|        ADAMA Cherif|       C�te d'Ivoire|         Football| Unknown|
|          AGEBA Yuya|               Japan|       Volleyball| Unknown|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball| Unknown|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football| Unknown|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball| Unknown|
|    AMO AGUADO Pablo|               Spain|         Football| Unknown|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [0]:
# Identifying and counting duplicate records based on Name, Country, Discipline, and Event
duplicates = coachesDF.groupBy("Name", "Country", "Discipline", "Event").count().filter(col("count") > 1)

# Checking if any duplicates were found
if duplicates.count() > 0:
    # Displaying information about the duplicate records
    print("Duplicate records found:")
    duplicates.show()
else:
    # Indicating that no duplicates were found
    print("No duplicate records found!")

Duplicate records found:
+----------------+-------+-----------------+--------+-----+
|            Name|Country|       Discipline|   Event|count|
+----------------+-------+-----------------+--------+-----+
|GUERRERO Rolando| Mexico|Baseball/Softball|Softball|    2|
+----------------+-------+-----------------+--------+-----+

In [0]:
# Joining the original DataFrame with the identified duplicate records based on Name, Country, Discipline, and Event
duplicates = coachesDF.join(duplicates.select("Name", "Country", "Discipline", "Event"), ["Name", "Country", "Discipline", "Event"])

# Displaying the entire rows of the duplicated records
duplicates.show()

+----------------+-------+-----------------+--------+
|            Name|Country|       Discipline|   Event|
+----------------+-------+-----------------+--------+
|GUERRERO Rolando| Mexico|Baseball/Softball|Softball|
|GUERRERO Rolando| Mexico|Baseball/Softball|Softball|
+----------------+-------+-----------------+--------+

In [0]:
# Removing duplicate records based on Name, Country, Discipline, and Event
coachesDF = coachesDF.dropDuplicates(["Name", "Country", "Discipline", "Event"])

In [0]:
# Quality Check: Duplicate Check after Removal
duplicates = coachesDF.groupBy("Name", "Country", "Discipline", "Event").count().filter(col("count") > 1)

# Checking if any duplicates were found after the removal
if duplicates.count() > 0:
    # Displaying information about the duplicate records after removal
    print("Duplicate records found after removal:")
    duplicates.show()
else:
    # Indicating that no duplicates were found after removal
    print("No duplicate records found after removal.")

No duplicate records found after removal.

In [0]:
# Capitalizing the first letter of each word in the Name column
coachesDF = coachesDF.withColumn("Name", initcap("Name"))

In [0]:
# Splitting the Name column into First Name and Last Name
split_name = split(coachesDF["Name"], " ")

# Use the first part as the first name
coachesDF = coachesDF.withColumn("FirstName", split_name.getItem(0))

# Use the last part as the last name
# If there is no last name, use an empty string
coachesDF = coachesDF.withColumn("LastName", split_name.getItem(size(split_name) - 1))

# Showing the updated DataFrame
coachesDF.show()

+--------------------+--------------------+-----------------+--------+----------+---------+
|                Name|             Country|       Discipline|   Event| FirstName| LastName|
+--------------------+--------------------+-----------------+--------+----------+---------+
|       Fujiki Mayuko|               Spain|Artistic Swimming|    Team|    Fujiki|   Mayuko|
|      Marijne Sjoerd|               India|           Hockey|   Women|   Marijne|   Sjoerd|
|       Alameda Lonni|              Canada|Baseball/Softball|Softball|   Alameda|    Lonni|
|        Kuntz Stefan|             Germany|         Football|     Men|     Kuntz|   Stefan|
|   Gojkovic Vladimir|          Montenegro|       Water Polo|     Men|  Gojkovic| Vladimir|
|     Gonzalez Anibal|              Mexico|         Football| Unknown|  Gonzalez|   Anibal|
|         Makiri Hare|               Japan|     Rugby Sevens|   Women|    Makiri|     Hare|
|Lopez Guillen Melvyn|  Dominican Republic|       Basketball| Unknown|     Lopez|   Melvyn|
|       Alshehri Saad|        Saudi Arabia|         Football|     Men|  Alshehri|     Saad|
|       Wright Jerold|United States of ...|       Basketball| Unknown|    Wright|   Jerold|
|  Zampieri Francesca|       Liechtenstein|Artistic Swimming|    Duet|  Zampieri|Francesca|
|  Baber Gareth Colin|                Fiji|     Rugby Sevens|     Men|     Baber|    Colin|
|        Henkel Claas|             Germany|           Hockey|     Men|    Henkel|    Claas|
|    Iwabuchi Kensuke|               Japan|     Rugby Sevens|     Men|  Iwabuchi|  Kensuke|
| Lazaro Corral Jesus|               Spain|       Basketball| Unknown|    Lazaro|    Jesus|
|   Krumbholz Olivier|              France|         Handball|   Women| Krumbholz|  Olivier|
|        Turner Glenn|         New Zealand|           Hockey|     Men|    Turner|    Glenn|
|         Batch Colin|           Australia|           Hockey|     Men|     Batch|    Colin|
|        Ewing Gareth|        South Africa|           Hockey|     Men|     Ewing|   Gareth|
|   Nakagaichi Yuichi|               Japan|       Volleyball|     Men|Nakagaichi|   Yuichi|
+--------------------+--------------------+-----------------+--------+----------+---------+
only showing top 20 rows

In [0]:
# Displaying the contents of the teams DataFrame
teamsDF.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
# Printing the schema of the teams DataFrame
teamsDF.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
# Generating summary statistics for the teams DataFrame and displaying the results
teamsDF.describe().show()

+-------+--------------------+--------------+-------+--------------------+
|summary|            TeamName|    Discipline|Country|               Event|
+-------+--------------------+--------------+-------+--------------------+
|  count|                 743|           743|    743|                 743|
|   mean|                NULL|          NULL|   NULL|                NULL|
| stddev|                NULL|          NULL|   NULL|                NULL|
|    min|ACHANTA Kamal / B...|3x3 Basketball| Angola|4 x 400m Relay Mixed|
|    max|              Zambia|    Water Polo| Zambia|   Women's �p�e Team|
+-------+--------------------+--------------+-------+--------------------+

In [0]:
# Checking for null or empty values in the TeamName column
null_team_name = teamsDF.filter(col("TeamName").isNull() | (col("TeamName") == ""))
null_team_name.show()

# Checking for null or empty values in the Discipline column
null_discipline = teamsDF.filter(col("Discipline").isNull() | (col("Discipline") == ""))
null_discipline.show()

# Checking for null or empty values in the Country column
null_country = teamsDF.filter(col("Country").isNull() | (col("Country") == ""))
null_country.show()

# Checking for null or empty values in the Event column
null_event = teamsDF.filter(col("Event").isNull() | (col("Event") == ""))
null_event.show()

+--------+----------+-------+-----+
|TeamName|Discipline|Country|Event|
+--------+----------+-------+-----+
+--------+----------+-------+-----+

+--------+----------+-------+-----+
|TeamName|Discipline|Country|Event|
+--------+----------+-------+-----+
+--------+----------+-------+-----+

+--------+----------+-------+-----+
|TeamName|Discipline|Country|Event|
+--------+----------+-------+-----+
+--------+----------+-------+-----+

+--------+----------+-------+-----+
|TeamName|Discipline|Country|Event|
+--------+----------+-------+-----+
+--------+----------+-------+-----+

In [0]:
# Trim leading and trailing whitespaces from existing columns in the teams DataFrame
teamsDF = teamsDF.withColumn("TeamName", trim(col("TeamName"))) \
                 .withColumn("Discipline", trim(col("Discipline"))) \
                 .withColumn("Country", trim(col("Country"))) \
                 .withColumn("Event", trim(col("Event")))

# Displaying the cleaned DataFrame
teamsDF.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
# Quality Check: Duplicate Check
duplicates = teamsDF.groupBy("TeamName", "Discipline", "Country", "Event").count().filter(col("count") > 1)

# Checking if any duplicates were found
if duplicates.count() > 0:
    # Displaying information about the duplicate records
    print("Duplicate records found:")
    duplicates.show()
else:
    # Indicating that no duplicates were found
    print("No duplicate records found!")

No duplicate records found!

In [0]:
# Displaying the contents of the entriesgender DataFrame
entriesgenderDF.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
# Printing the schema of the entriesgender DataFrame
entriesgenderDF.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
# Generating summary statistics for the entriesgender DataFrame and displaying the results
entriesgenderDF.describe().show()

+-------+--------------+------------------+------------------+-----------------+
|summary|    Discipline|            Female|              Male|            Total|
+-------+--------------+------------------+------------------+-----------------+
|  count|            46|                46|                46|               46|
|   mean|          NULL|118.08695652173913|127.91304347826087|            246.0|
| stddev|          NULL|147.16971700681066|166.90074576585351|312.4613398308483|
|    min|3x3 Basketball|                10|                 0|               19|
|    max|     Wrestling|               969|              1072|             2041|
+-------+--------------+------------------+------------------+-----------------+

In [0]:
# Checking for null or empty values in the Discipline column
null_discipline = entriesgenderDF.filter(col("Discipline").isNull() | (col("Discipline") == ""))
null_discipline.show()

# Checking for null or empty values in the Male column
null_male = entriesgenderDF.filter(col("Male").isNull() | (col("Male") == ""))
null_male.show()

# Checking for null or empty values in the Female column
null_female = entriesgenderDF.filter(col("Female").isNull() | (col("Female") == ""))
null_female.show()

# Checking for null or empty values in the Total column
null_total = entriesgenderDF.filter(col("Total").isNull() | (col("Total") == ""))
null_total.show()

+----------+------+----+-----+
|Discipline|Female|Male|Total|
+----------+------+----+-----+
+----------+------+----+-----+

+----------+------+----+-----+
|Discipline|Female|Male|Total|
+----------+------+----+-----+
+----------+------+----+-----+

+----------+------+----+-----+
|Discipline|Female|Male|Total|
+----------+------+----+-----+
+----------+------+----+-----+

+----------+------+----+-----+
|Discipline|Female|Male|Total|
+----------+------+----+-----+
+----------+------+----+-----+

In [0]:
# Trim leading and trailing whitespaces from existing columns in the entriesgender DataFrame
entriesgenderDF = entriesgenderDF.withColumn("Discipline", trim(col("Discipline"))) \
                                 .withColumn("Female", trim(col("Female"))) \
                                 .withColumn("Male", trim(col("Male"))) \
                                 .withColumn("Total", trim(col("Total")))

# Displaying the cleaned DataFrame
entriesgenderDF.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
# Identifying and counting duplicate records based on Discipline, Female, Male, and Total
duplicates = entriesgenderDF.groupBy("Discipline", "Female", "Male", "Total").count().filter(col("count") > 1)

# Checking if any duplicates were found
if duplicates.count() > 0:
    # Displaying information about the duplicate records
    print("Duplicate records found:")
    duplicates.show()
else:
    # Indicating that no duplicates were found
    print("

  File <command-4420413016494758>, line 11
    print("
          ^
SyntaxError: unterminated string literal (detected at line 11)

In [0]:
# Gender Ratio Calculation: Adding columns for Female Percentage and Male Percentage
entriesgenderDF = entriesgenderDF.withColumn("Female_Percentage", round(col("Female") / col("Total") * 100, 2)) \
                                 .withColumn("Male_Percentage", round(col("Male") / col("Total") * 100, 2))

# Displaying the transformed DataFrame without truncating column values
entriesgenderDF.show(truncate=False)

+---------------------+------+----+-----+-----------------+---------------+
|Discipline           |Female|Male|Total|Female_Percentage|Male_Percentage|
+---------------------+------+----+-----+-----------------+---------------+
|3x3 Basketball       |32    |32  |64   |50.0             |50.0           |
|Archery              |64    |64  |128  |50.0             |50.0           |
|Artistic Gymnastics  |98    |98  |196  |50.0             |50.0           |
|Artistic Swimming    |105   |0   |105  |100.0            |0.0            |
|Athletics            |969   |1072|2041 |47.48            |52.52          |
|Badminton            |86    |87  |173  |49.71            |50.29          |
|Baseball/Softball    |90    |144 |234  |38.46            |61.54          |
|Basketball           |144   |144 |288  |50.0             |50.0           |
|Beach Volleyball     |48    |48  |96   |50.0             |50.0           |
|Boxing               |102   |187 |289  |35.29            |64.71          |
|Canoe Slalom         |41    |41  |82   |50.0             |50.0           |
|Canoe Sprint         |123   |126 |249  |49.4             |50.6           |
|Cycling BMX Freestyle|10    |9   |19   |52.63            |47.37          |
|Cycling BMX Racing   |24    |24  |48   |50.0             |50.0           |
|Cycling Mountain Bike|38    |38  |76   |50.0             |50.0           |
|Cycling Road         |70    |131 |201  |34.83            |65.17          |
|Cycling Track        |90    |99  |189  |47.62            |52.38          |
|Diving               |72    |71  |143  |50.35            |49.65          |
|Equestrian           |73    |125 |198  |36.87            |63.13          |
|Fencing              |107   |108 |215  |49.77            |50.23          |
+---------------------+------+----+-----+-----------------+---------------+
only showing top 20 rows

In [0]:
# Displaying the contents of the medals DataFrame
medalsDF.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
# Printing the schema of the medals DataFrame
medalsDF.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
# Checking for null or empty values in the Rank column
null_rank = medalsDF.filter(col("Rank").isNull() | (col("Rank") == ""))
null_rank.show()

# Checking for null or empty values in the Team_Country column
null_team_country = medalsDF.filter(col("Team_Country").isNull() | (col("Team_Country") == ""))
null_team_country.show()

# Checking for null or empty values in the Gold column
null_gold = medalsDF.filter(col("Gold").isNull() | (col("Gold") == ""))
null_gold.show()

# Checking for null or empty values in the Silver column
null_silver = medalsDF.filter(col("Silver").isNull() | (col("Silver") == ""))
null_silver.show()

# Checking for null or empty values in the Bronze column
null_bronze = medalsDF.filter(col("Bronze").isNull() | (col("Bronze") == ""))
null_bronze.show()

# Checking for null or empty values in the Total column
null_total = medalsDF.filter(col("Total").isNull() | (col("Total") == ""))
null_total.show()

# Checking for null or empty values in the Rank By Total column
null_rank_by_total = medalsDF.filter(col("Rank By Total").isNull() | (col("Rank By Total") == ""))
null_rank_by_total.show()

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

+----+------------+----+------+------+-----+-------------+
|Rank|Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+------------+----+------+------+-----+-------------+
+----+------------+----+------+------+-----+-------------+

In [0]:
# Trim leading and trailing whitespaces from existing columns in the medals DataFrame
medalsDF = medalsDF.withColumn("Rank", trim(col("Rank"))) \
                   .withColumn("Team_Country", trim(col("Team_Country"))) \
                   .withColumn("Gold", trim(col("Gold"))) \
                   .withColumn("Silver", trim(col("Silver"))) \
                   .withColumn("Bronze", trim(col("Bronze"))) \
                   .withColumn("Total", trim(col("Total"))) \
                   .withColumn("Rank By Total", trim(col("Rank By Total")))

# Displaying the cleaned DataFrame
medalsDF.show(truncate=False)

+----+--------------------------+----+------+------+-----+-------------+
|Rank|Team_Country              |Gold|Silver|Bronze|Total|Rank By Total|
+----+--------------------------+----+------+------+-----+-------------+
|1   |United States of America  |39  |41    |33    |113  |1            |
|2   |People's Republic of China|38  |32    |18    |88   |2            |
|3   |Japan                     |27  |14    |17    |58   |5            |
|4   |Great Britain             |22  |21    |22    |65   |4            |
|5   |ROC                       |20  |28    |23    |71   |3            |
|6   |Australia                 |17  |7     |22    |46   |6            |
|7   |Netherlands               |10  |12    |14    |36   |9            |
|8   |France                    |10  |12    |11    |33   |10           |
|9   |Germany                   |10  |11    |16    |37   |8            |
|10  |Italy                     |10  |10    |20    |40   |7            |
|11  |Canada                    |7   |6     |11    |24   |11           |
|12  |Brazil                    |7   |6     |8     |21   |12           |
|13  |New Zealand               |7   |6     |7     |20   |13           |
|14  |Cuba                      |7   |3     |5     |15   |18           |
|15  |Hungary                   |6   |7     |7     |20   |13           |
|16  |Republic of Korea         |6   |4     |10    |20   |13           |
|17  |Poland                    |4   |5     |5     |14   |19           |
|18  |Czech Republic            |4   |4     |3     |11   |23           |
|19  |Kenya                     |4   |4     |2     |10   |25           |
|20  |Norway                    |4   |2     |2     |8    |29           |
+----+--------------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
# Quality Check: Duplicate Check
duplicates = medalsDF.groupBy("Rank", "Team_Country", "Gold", "Silver", "Bronze", "Total", "Rank By Total").count().filter(col("count") > 1)

# Checking if any duplicates were found
if duplicates.count() > 0:
    # Displaying information about the duplicate records
    print("Duplicate records found:")
    duplicates.show()
else:
    # Indicating that no duplicates were found
    print("No duplicate records found!")

No duplicate records found!

In [0]:
# Calculate the ratio of gold medals to total medals
medalsDF = medalsDF.withColumn("Gold_to_Total_Ratio", round(col("Gold") / col("Total"), 2))

# Calculate the ratio of bronze medals to total medals
medalsDF = medalsDF.withColumn("Bronze_to_Total_Ratio", round(col("Bronze") / col("Total"), 2))

# Calculate the ratio of silver medals to total medals
medalsDF = medalsDF.withColumn("Silver_to_Total_Ratio", round(col("Silver") / col("Total"), 2))

# Displaying the transformed DataFrame
medalsDF.show()

+----+--------------------+----+------+------+-----+-------------+-------------------+---------------------+---------------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank By Total|Gold_to_Total_Ratio|Bronze_to_Total_Ratio|Silver_to_Total_Ratio|
+----+--------------------+----+------+------+-----+-------------+-------------------+---------------------+---------------------+
|   1|United States of ...|  39|    41|    33|  113|            1|               0.35|                 0.29|                 0.36|
|   2|People's Republic...|  38|    32|    18|   88|            2|               0.43|                  0.2|                 0.36|
|   3|               Japan|  27|    14|    17|   58|            5|               0.47|                 0.29|                 0.24|
|   4|       Great Britain|  22|    21|    22|   65|            4|               0.34|                 0.34|                 0.32|
|   5|                 ROC|  20|    28|    23|   71|            3|               0.28|                 0.32|                 0.39|
|   6|           Australia|  17|     7|    22|   46|            6|               0.37|                 0.48|                 0.15|
|   7|         Netherlands|  10|    12|    14|   36|            9|               0.28|                 0.39|                 0.33|
|   8|              France|  10|    12|    11|   33|           10|                0.3|                 0.33|                 0.36|
|   9|             Germany|  10|    11|    16|   37|            8|               0.27|                 0.43|                  0.3|
|  10|               Italy|  10|    10|    20|   40|            7|               0.25|                  0.5|                 0.25|
|  11|              Canada|   7|     6|    11|   24|           11|               0.29|                 0.46|                 0.25|
|  12|              Brazil|   7|     6|     8|   21|           12|               0.33|                 0.38|                 0.29|
|  13|         New Zealand|   7|     6|     7|   20|           13|               0.35|                 0.35|                  0.3|
|  14|                Cuba|   7|     3|     5|   15|           18|               0.47|                 0.33|                  0.2|
|  15|             Hungary|   6|     7|     7|   20|           13|                0.3|                 0.35|                 0.35|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|                0.3|                  0.5|                  0.2|
|  17|              Poland|   4|     5|     5|   14|           19|               0.29|                 0.36|                 0.36|
|  18|      Czech Republic|   4|     4|     3|   11|           23|               0.36|                 0.27|                 0.36|
|  19|               Kenya|   4|     4|     2|   10|           25|                0.4|                  0.2|                  0.4|
|  20|              Norway|   4|     2|     2|    8|           29|                0.5|                 0.25|                 0.25|
+----+--------------------+----+------+------+-----+-------------+-------------------+---------------------+---------------------+
only showing top 20 rows

In [0]:
# Writing transformed DataFrames to CSV files after repartitioning to a single partition in Azure Data Lake Storage Gen2
coachesDF.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/coaches")
entriesgenderDF.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/entriesgender")
medalsDF.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/medals")
teamsDF.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolymic/transformed-data/teams")
athletesDF.repartition(1).write.mode("overwrite").option("header", 'true').csv("/mnt/tokyoolymic/transformed-data/athletes")